* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;


}
/*body*/

body {
    font-family: 'Lato', sans-serif;
    line-height: 2;
    background-color: #bbb2a3;
    display: grid;
    grid-template-rows: repeat(3, 0.5fr 2fr 0.5fr);
    width: 100%;
    height: 600px;
    

 }

 .margin {
    padding: 1%;
 }

/*Cabecera por ahora reemplazado por menu nav de bootstrap*/



.navv{
    background-image: url(./Imagenes/headerpic.jpeg);
    background-size: cover;

}

.puntos ul {

    display: flex;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    justify-content: end;
    margin-top: 5%;
    
}

.puntos ul li {

   margin-right: 3%;
   transition: 0.6s;
}

.puntos ul li:hover{
    transform: translateY(-7px);
}



.puntos ul li a {

    color: #513c03;
    border-bottom: solid 1px;
    font-style: oblique;
    font-weight: bolder;


}



/*Fin de cabecera*/
/*Incio de Main*/

/*letras estilos*/

.display-6 {

    color: #9d7c22;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    font-style: oblique;

}

h1 {
    color: rgb(11, 50, 17);
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding-top: 2%;
}

h3 {
    color: #513c03;
    border-bottom: #ebc65e;
    font-size: 23px;
    font-weight: bold;
}

h4{
    font-weight: bold;
}


p strong{
    font-size: 20px;
    padding: auto
}

.fondo1{
    background-color: #cab16e;
    color: #fff;
    max-width: max-content;
    border-radius: 10px;
    padding: 5px;
    text-align: start;
    font-size: 20px;
    font-weight: bold;

}

/*Imagenes*/

.grid {
    display: grid;
    align-items: center;
    justify-content: center;


}

.grid__cards {
    
    background-color: rgb(241, 240, 232);
    padding: 15px;
    box-shadow: 0 25px 20px -12px rgba(238, 242, 133, 0.5);
    border-radius: 25px;



}

.grid__cards img {
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.carruselcontainer{

    max-width: 100%;
    margin: 0 auto;
}

.card {
    background-color: #f3eddc;
    padding: 10px;
    box-shadow: 0 20px 20px -12px rgba(238, 242, 133, 0.5);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card__header {
    position: relative;
  }
  
  .card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 12px;
  }
  
  .card__title {
    margin-bottom: 20px;
  }
  
  
  .card__link {
    background-color: #cbae5f;
    color: #fff;
    width: 30%;
    display: inline-block;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-weight: bold;

  }
  
  .recetas {
    margin-top: 40px;
    padding: 0 20px;
  }
  
  .recetas__title {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .recetas__grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

  }


/*Fin de Imagenes*/
/*textos*/

.parrafo {
    padding: 2%;

 }

.textof {

    padding-left: 5%;
 }

/*pie de pagina*/

footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1%;
    padding-left: 3%;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(50deg, #ffba00, #ebc65e);

 }

 button{
    border-radius: 5px;
    width: 15%;
 }



 /*Aplicacion responsive - MOBILE LAST*/
 /*Pantalla chica*/

 @media (max-width:320px){


    .logocabecera{
        height: 40;
        width: 40;
        padding: 1%, 1%;
    }

    .display-6{
        font-size: 18px;
    } 

    h1{
        font-size: 18px;
    }

    h3{
        text-align: start;
        font-size: 17px;
    }

    .parrafo{
        font-size: 16px;
        padding: 5%;
    }

    .grid{
        grid-template-columns: 1fr;
    }

    .grid__cards{
        justify-items: center;

    }

    .grid__cards img{

        justify-items: center;
    }

    .recetas__grid{
        grid-template-columns: 1fr;
    }

}
/*Pantalla media*/
 @media (max-width:425px){


    .logocabecera{
        height: 40;
        width: 40;
        padding: 1%, 1%;
    }

    .display-6{
        font-size: 18px;
    } 

    h1{
        font-size: 18px;
    }

    h3{
        text-align: start;
        font-size: 17px;
    }

    .parrafo{
        font-size: 16px;
        padding: 5%;
    }

    .grid{
        grid-template-columns: 1fr;
    }

    .grid__cards{
        justify-items: center;

    }

    .grid__cards img{

        justify-items: center;
    }

    .recetas__grid{
        grid-template-columns: 1fr;

    }

}

    

/*Medida de tablet*/
 @media (max-width:768px){


    .links{
        font-size: 16px;
    }
    .logocabecera{
        height: 40;
        width: 40;
        padding: 1%, 1%;
    }

    .display-6{
        font-size: 19px;
    }

    h3{
        text-align: center;
        font-size: 17px;
    }

    h2{
        text-align: left;
        font-size: 17px;
    }

    .parrafo{
        font-size: 16px;
        padding-left: 5%;
    }

    .card__link{
        font-size: 16px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }



}


